$TTL 86400
@ IN SOA {{ ansible_hostname }}.{{ company_domain }}. {{ ops_user }}.{{ company_domain }}. (
    2026062201
    3600
    1800
    604800
    86400 )

@ IN NS {{ ansible_hostname }}.{{ company_domain }}.

{% for hostname in groups['all'] %}
{{ hostname }} IN A {{ hostvars[hostname].ansible_host }}
{% endfor %}

{% for hostname in groups['all'] -%}
{% for record, required in hostvars[hostname].dns_records.items() | default({}) -%}
{% if required -%}
{{ record }} IN A {{ hostvars[hostname].ansible_host }}
{% endif -%}
{% endfor -%}
{% endfor -%}

@ IN MX 10 {{ groups['email'][0] }}.{{ company_domain }}.
