{% for user in users %}
{% if 'dev' in user.groups | default([]) %}
/home/{{ user.username }}/Company_Share {{ groups['storage'][0] }}:{{ shared_mount }}/users/{{ user.username }}
{% endif %}
{% endfor %}
